.jumbotron {
    background-image: url(./header-image.png);
    background-size: cover;
    background-position: top 22% right 22%;
    background-repeat: no-repeat;
    border-radius: 0px;
    height: 300px;
    margin-bottom: 0px;
}